body{
    background: linear-gradient(184deg, rgba(0,226,255,1) 0%, rgba(161,0,232,1) 100%);
}

/*----------------------------
    MAIN 
-----------------------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cards-container .card{
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
    filter: drop-shadow(0 0 5px white);
}

/*----------------------------
    FORM 
-----------------------------*/
form{
    background-color: cyan;
    border-radius: 10px;
}

/*----------------------------
    BUTTON 
-----------------------------*/
button{
    background-color: transparent;
    border: none;
}

button i{
    padding: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: background 0.3s, transform 0.5s;
}

button:hover i{
    background-color: white;
    transform: scale(1.2);
}