body{
    background: linear-gradient(184deg, rgba(0,226,255,1) 0%, rgba(161,0,232,1) 100%);
}

/*----------------------------
    HEADER 
-----------------------------*/
header{
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px black;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
header img{
    width: 6%;
}
header h1{
    font-style: italic;
}
header form{
    border-radius: 10px;
    margin-left: auto;
    margin-right: 20px;
    border: 1px solid black;
}

/*----------------------------
    MAIN 
-----------------------------*/
.cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cards-container .card{
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
    filter: drop-shadow(0 0 5px white);
}

/*----------------------------
    BUTTON 
-----------------------------*/
button{
    background-color: transparent;
    border: none;
}

button i{
    padding: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: background 0.3s, transform 0.5s;
}

button:hover i{
    background-color: white;
    transform: scale(1.2);
}